<nav class="navbar navbar-expand-l">
    <a class="navbar-brand" href="#">
      <div class="nav-icon">
        <img src="../../../assets/img/logo-bech.png" width="209" height="72" alt="">
      </div>
    </a>
    <a class="nav-link" href="#">Subgerencias</a>
    <a class="nav-link" href="#">Asesor Judicial</a>
    <a class="nav-link" href="#">GOP</a>
    <a class="nav-link" href="#">Training</a>
    <a class="nav-link" href="#">Blog</a>
    <a class="nav-link" href="#">Informes</a>
    <a class="nav-link" href="#">Consultas</a>
    
    <div>
      <button class="btn"><i class="fas fa-adjust"></i></button>
      <button class="btn">+A</button>
      <button class="btn">-A</button>
    </div>
</nav>
