.nav-icon {
    width: 209px;
    height: 72px;
}

.nav-link {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
}