<div class="container">
    <h3>Solicitudes más recurrentes o de acceso rápido</h3>
        <div class="d-flex flex-row">
            <div class="col">
                <p>Categoria o subcategoria 1</p>
                <hr>
                <p>Categoria o subcategoria 2</p>
                <hr>
                <p>Categoria o subcategoria 3</p>
                <hr>
            </div>
            <div class="col">
                <p>Categoria o subcategoria 1</p>
                <hr>
                <p>Categoria o subcategoria 2</p>
                <hr>
                <p>Categoria o subcategoria 3</p>
                <hr>
            </div>
        </div>
</div>