.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.btn-request {
  background: #f5811f;
  border-radius: 30px;
  margin-left: 80px;
  color: #FBFBFB;
}

.back-btn {
  width: 40%;
}

.back {
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  size: 15px;
  color: #000000;
}

.title-text {
  width: 60%;
}

hr {
  border: 0.5px solid #f5811f;
}

.header-faq {
  border-radius: 10px;
}

mat-accordion,
mat-expansion-panel,
.header-faq {
  background: #fbfbfb;
}

.request-text {
  font-family: "Lato", sans-serif;
  size: 18px;
  font-weight: 400;
}

.title-faq {
  font-family: "Lato", sans-serif;
  size: 18px;
  font-weight: 700;
}

.h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.sub-title-menu {
  color: #000000;
  margin-top: 22px;
}

.question-like {
  display: flex;
  align-items: center;
}
