<div class="container-fluid">

  <div class="d-flex row">
    <div class="back-btn">
      <button class="back btn" href="/">
        <img class="mr-2" src="../../../assets/img/volver.svg" alt="">volver
      </button>
    </div>
    <div class="d-flex title-text">
      <h1 class="text-center">Preguntas Frecuentes</h1>
    </div>
  </div>
  <div class="d-flex justify-content-around row">
    <div class="col" style="width: 30%">
      <div class="">
        <mat-accordion>
          <mat-expansion-panel
            class="w-80"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Estudio sociedades </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <mat-accordion>
          <mat-expansion-panel
            class="w-80"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <mat-accordion>
          <mat-expansion-panel
            class="w-80"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <mat-accordion>
          <mat-expansion-panel
            class="w-80"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div style="width: 15%;">

    </div>
    <div class="" style="width: 55%;">
      <div class="d-flex row align-items-center">
        <div>
          <h4>Subgerencia Legal Operativa</h4>
          <hr />
        </div>
        <button class="btn btn-warning btn-request">Crear requerimiento</button>
      </div>
      <mat-accordion class="p-1">
        <mat-expansion-panel
          class="w-80"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Self aware panel </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <div>
        <mat-accordion class="p-1">
          <mat-expansion-panel
            class="w-80"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <mat-accordion class="p-1">
          <mat-expansion-panel
            class="w-80"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <mat-accordion class="p-1">
          <mat-expansion-panel
            class="w-80"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <mat-accordion class="p-1">
          <mat-expansion-panel
            class="w-80"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
