<div class="p-1">
<div class="col-5">
<!--Texto introductorio -->
<h2>Texto introductorio para que el usuario pueda hacer la solicitud</h2>
</div>
<!--Indicaciones -->
<div class="col-6">
  <h3>Una bajada de texto para indicarle al usuario de forma amigable como buscar la solicitud que quiere ingresar</h3>
</div>
</div>

<!--Texto introductorio -->
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="input" class="sr-only">Escribe aquí</label>
    <input type="form" class="form-control search-request-s" id="input" style="width: 20rem;" placeholder="Escribe aquí">
  </div>
  <button type="submit" class="btn btn-primary mb-2 search-request-s">Continuar</button>
</form>
<a routerLink="/seguimiento">Buscar por n° de seguimiento</a>
