<div class="d-flex justify-content-center">
  <h1 class="font-weight-bold p-4">¿Como podemos ayudarte?</h1>
</div>

<div class="d-flex justify-content-center">
  <!--Texto introductorio -->
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="input" class="sr-only">Escribe aquí tu consulta</label>
      <input type="form" class="form-control search-request-s" id="input" style="width: 20rem;"
        placeholder="Escribe aquí tu consulta">
    </div>
  </form>
</div>

<div class="d-flex justify-content-center mt-3">
  <h3>O elige algunas de las opciones de áreas recurrentes</h3>
</div>

  <!--Cartas -->

<div class="d-flex justify-content-center mt-3">
  <div class="row">

    <div class="col-sm-3">
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <img src="/src/assets/icons/bienes-raices 1.svg" alt="">
          <h5 class="card-title">Bienes raíces</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Estudio de sociedades</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Mandatos</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Otras materias</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <button type="submit" class="btn btn-primary mb-2 search-request-s" (click)="navigateTo()">Ver todas</button>
</div>

<div class="d-flex justify-content-center mt-5">
  <h1 class="font-weight-bold">Preguntas Frecuentes</h1>
</div>

  <!-- preguntas frecuentes -->

<div class="d-flex justify-content-center">

  <mat-accordion>
    <mat-expansion-panel hideToggle class="w-80">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Debo validar con Fiscalía la publicidad que se emitirá a los clientes? ¿En qué debo tener cuidado?
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="w-80" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>


</div>
