<app-navbar></app-navbar>
<div class="d-flex justify-content-center">
  <h1 class="font-weight-bold p-4">¿Como podemos ayudarte?</h1>
</div>

<div class="d-flex justify-content-center">
  <!--Texto introductorio -->
  <form class="form-inline" style="z-index: -2;">
    <div class="form-group mx-sm-3 mb-2">
      <label for="input" class="sr-only">Escribe aquí tu consulta</label>
      <input type="form" class="form-control search-request-s" id="input" style="width: 30rem;"
        placeholder="Escribe aquí tu consulta">
        <img class="ml-1" style="z-index: 2;" src="../../../assets/icons/Vector.svg" alt="">

    </div>
  </form>

</div>

<div class="d-flex justify-content-center mt-3">
  <h3>O elige algunas de las opciones de áreas recurrentes</h3>
</div>

<!--Cartas -->

<div class="d-flex justify-content-center mt-3">
  <div class="row">

    <div class="col-sm-3">
      <div class="card" style="width: 13rem; height: 13rem ;">
        <div class="card-body">
          <div class="text-center">
            <img
              src="https://raw.githubusercontent.com/LiRizo/bech-hackaton/6f2aba91ea89d11215795aef3597ce6dcb772eda/src/assets/icons/bienes-raices%201.svg"
              alt="">
            <h5 class="card-title">Bienes raíces</h5>
          </div>
          <p class="card-text">Información bienes raíces</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 13rem; height: 13rem ;">
        <div class="card-body">
          <div class="text-center">
            <img
              src="https://raw.githubusercontent.com/LiRizo/bech-hackaton/6f2aba91ea89d11215795aef3597ce6dcb772eda/src/assets/icons/bienes-raices%201.svg"
              alt="">
            <h5 class="card-title">Estudio de sociedades</h5>
          </div>
          <p class="card-text">Información estudio de sociedades</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 13rem; height: 13rem ;">
        <div class="card-body">
          <div class="text-center">
            <img
              src="https://raw.githubusercontent.com/LiRizo/bech-hackaton/6f2aba91ea89d11215795aef3597ce6dcb772eda/src/assets/icons/bienes-raices%201.svg"
              alt="">
            <h5 class="card-title">Mandatos</h5>
          </div>
          <p class="card-text">Información mandatos</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 13rem; height: 13rem ;">
        <div class="card-body">
          <div class="text-center">
            <img
              src="https://raw.githubusercontent.com/LiRizo/bech-hackaton/6f2aba91ea89d11215795aef3597ce6dcb772eda/src/assets/icons/bienes-raices%201.svg"
              alt="">
            <h5 class="card-title">Otras materias</h5>
          </div>
          <p class="card-text">Información otras materias</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- boton ver todas -->
<div class="d-flex justify-content-center mt-5">
  <button type="submit" class="btn mb-2 search-request-s" style="background: #F5811F; color: #f7f7f7;" (click)="navigateTo()">Ver
    todas</button>
</div>

<div class="d-flex justify-content-center mt-5">
  <h1 class="font-weight-bold">Preguntas Frecuentes</h1>
</div>

<!-- preguntas frecuentes -->
<div class="d-flex justify-content-center">
  <div class="col">

    <mat-expansion-panel class="fq-s" style="max-width: 80%;" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Debo validar con Fiscalía la publicidad que se emitirá a los clientes? ¿En qué debo tener cuidado?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>validar con Fiscalía la publicidad que se emitirá a los clientes</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="fq-s" style="max-width: 80%;" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Existe la posibilidad de solicitar por el Banco la obtención de algún documento del Archivo
          Judicial o del Conservador de Bienes Raíces?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>solicitar por el Banco la obtención de algún documento del Archivo
        Judicial o del Conservador de Bienes Raíces</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="fq-s" style="max-width: 80%;" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Debo realizar un estudio de títulos si el financiamiento exige hipoteca?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>realizar un estudio de títulos si el financiamiento exige hipoteca</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="fq-s" style="max-width: 80%;" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Puede un cliente comprar un inmueble donde su cónyuge es dueño de derechos adquiridos
          por herencia?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>comprar un inmueble donde su cónyuge es dueño de derechos adquiridos
        por herencia</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="fq-s" style="max-width: 80%;" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo puedo liberar al fiador de un crédito o reemplazarlo?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>liberar al fiador de un crédito o reemplazarlo</p>
    </mat-expansion-panel>

  </div>
</div>
<br>
