.search-request-s{
  border-radius: 20px;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
 .fq-s{
margin: auto;
margin-bottom: 1rem;
}

mat-accordion,
mat-expansion-panel,
.header-faq {
  background: #fbfbfb;
}
