<div class="d-flex flex-column align-items-center justify-content-center" style="height: 75vh;">
    <h2>Consultar solicitud</h2>
    <div>
        <div>
            <h3>Ingresa el n° de tu solicitud</h3>
        </div>
      </div>
      <div>
        <label>
          <input list="browsers" name="myBrowser" placeholder="Escribe o selecciona una opción" /></label>
          <datalist id="browsers">
            <option value="Chrome">
            <option value="Firefox">
            <option value="Internet Explorer">
            <option value="Opera">
            <option value="Safari">
            <option value="Microsoft Edge">
          </datalist>
    </div>
</div>