<div class="gif-tutorial">
  <img src="../../../assets/img/vector-background.png" alt="" />
</div>
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 75vh;">
    <h2>Consultar solicitud</h2>
    <div>
        <div>
            <h3>Ingresa el n° de tu solicitud</h3>
        </div>
      </div>
      <div>
        <label>
          <input list="requestsNumbers" name="requests"  (change)="navigateTo($event.target.value)" placeholder="Ingresa el n° de tu solicitud" /></label>
          <datalist id="requestsNumbers">
            <option>165168151SDSD</option>
            <option value="123410257EFFA">123410257EFFA</option>
          </datalist>
    </div>
</div>