<div class="d-flex flex-column align-items-center justify-content-center" style="height: 75vh;">
    <h2>Consultar solicitud</h2>
    <div>
        <div>
            <h3>La solicitud n° 1518ASB se encuentra en estado NOMBRE ESTADO ACTUAL</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="" alt="icono">
            <p>Nombre estado</p>
        </div>
        <div class="col">
            <img src="" alt="icono">
            <p>Nombre estado</p>
        </div>
        <div class="col">
            <img src="" alt="icono">
            <p>Nombre estado</p>
        </div>
        <div class="col">
            <img src="" alt="icono">
            <p>Nombre estado</p>
        </div>      
    </div>
    <button class="btn btn-primary">Volver a consultar</button>
</div>

<!-- No se ve el icono por alguna razón cósmica, lo siento
    <i class="fal fa-long-arrow-right"></i> -->